body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.unchanged_text {
    font-weight: bold;
    font-size: 14px;
}

hr {
    border: 1px solid grey;
}

#sidebar {
    width: 13%;
    background-color: rgb(247, 207, 214);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
#body {
    width: 87%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 95%;
}

#body .top {
    flex: 1;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

/* 左上 */
#body .top .basic_info {
    flex: 1;
    border: 1px solid lightcoral;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 80%;
}

#body .top .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: lightcoral;
    margin-right: 60px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body .top .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70px;
    font-weight: bold;
}

#body .top .info_data {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100px;
}

/* 右上 */
#body .top .something_else {
    flex: 3;
    border: 1px solid lightcoral;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    height: 80%;
}

/* 下 */
#body .bottom {
    flex: 4;
    display: flex;
}

#body .bottom .section {
    flex: 1;
    border: 1px solid lightcoral;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 20px;
    max-height: 1000px;
    overflow-y: auto;
}

#body .bottom .section::-webkit-scrollbar {
    width: 5px;
}

#body .bottom .section::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#body .bottom .section::-webkit-scrollbar-thumb {
    background: lightpink;
}

#body .bottom .section::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h2 {
    border-bottom: 5px solid black;
}

/* 左下 */

#body .week_info {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 16px;
    background-color: lightpink;
    border: 1px solid grey;
}

#body .fake_buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    font-size: 22px;
    border: 2px solid blue;
}

#body .brand_sit {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 10px;
    margin: 20px;
    background-color: lightpink;
    height: 150px;
    align-items: center;
}

#body .brand_logo {
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: relative;
    margin-right: 50px;
    background-color: lightgrey;
    margin-left: 10px;
}

#body .brand_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 100%;
    width: 400px;
    text-align: left;
}

.number_exm {
    display: flex;
    flex-direction: row;
}

.number_exm p {
    margin-right: 30px;
}